/* Vamos realizar el menu */
*{
 @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
font-family:'Lexend Deca', sans-serif;
font-weight: bold;
/* color: black; */
box-sizing: border-box;
}
body{
    background-color:#16498C;
}
.header{
    display:flex;
    background-color:#16498C;
    justify-content: space-between;
    color: blanchedalmond;
    padding:0.5rem 1rem;
}
.main-nav{
    width: 40%;
}
.menu-item{
    width:100%;
}
.main-title,.main-nav,.menu-item{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.menu-item-li{
    list-style: none;
}
.menu-item-link{
    text-decoration: none;
    color:inherit;
    font-size: 20px;

} 

@media(max-width:768px){
 .menu-item{
     flex-direction: column;
     background-color:lightcoral;
     
    }
}

/* Realizamos slider de la pagina principal */
ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 100%;
    height: 500px;   
}
ul.slider li{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    width: inherit;
    height: inherit;
         
 }
 .img_slider{
     width: 100%;
     height: 600px;
     object-fit: cover;
     
 }
  ul.slider li:first-child{
      opacity: 1;
  }
  ul.slider li:target{
      opacity: 1;
  }
  /* menu del slider */
  .menu{
    position:sticky;
    text-align: center; 
    /* z-index: -1;  */
    }
  .menu li{

      display: inline-block;
        background-color: #ff1744;
        padding: 15px;
        border-radius: 50%;
        /* margin: 15px; */ 
    }
.menu li:hover{
    background-color:#1565c0 ;
    transition: 0.5s;
}
  .menu li a{
      /* display: inherit; */
        text-decoration: none;
        color:black;
  }

